body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

img {
    border-radius: 20px;
    border: 1px solid rgb(247, 247, 85);
}

body {
    background-color: black;
    color: white;
}